[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "faiss"]
	path = faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/hnswlib"]
	path = third_party/hnswlib
	url = https://github.com/nmslib/hnswlib
[submodule "hnswlib"]
	path = hnswlib
	url = https://github.com/nmslib/hnswlib
[submodule "third_party/rocksdb"]
	path = third_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/google/snappy
