[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "third_party/faiss"]
	path = third_party/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/hnswlib"]
	path = third_party/hnswlib
	url = https://github.com/nmslib/hnswlib
[submodule "third_party/hnswlib"]
	path = third_party/hnswlib
	url = https://github.com/nmslib/hnswlib
[submodule "third_party/rocksdb"]
	path = third_party/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third_party/snappy"]
	path = third_party/snappy
	url = https://github.com/google/snappy
[submodule "third_party/roaring"]
	path = third_party/roaring
	url = https://github.com/RoaringBitmap/CRoaring.git
[submodule "third_party/nuraft"]
	path = third_party/nuraft
	url = https://github.com/eBay/NuRaft.git
